{% extends 'base.html.twig' %}

{% block body %}

    <div id="main-wrapper" class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">

                <h1> Homepage for {{ app.user.email }} </h1>

                <p>Normally, you would see your timeline and stuff. But the web part is not done yet.</p>

                <p>For now, have a donkeyhead:</p>

                <p>
                <img class="img img-responsive col-2" src="{{ asset('dh.jpg') }}" alt="Donkeyhead" />
                </p>

                <a class="btn btn-primary" href="{{ path('web_logout') }}">Logout</a>
            </div>
        </div>
    </div>

{% endblock %}
